#content{
 text-align: center;
 position: relative;
}

#head{
 background-color: cadetblue;
 width: 100%;
}

h1 {
 font-size: 1.777rem;
 padding-bottom: 4px;
}

h3 {
 font-size: 1.25rem;
 font-weight: bold;
 text-align: center;
}

*{
 box-sizing: border-box;
}

/*Nav bar css */

.navbar{
 overflow: hidden;
 background-color: cadetblue;
}

.navbar a{
 display: block;
 float: left;
 color: aliceblue;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
}

.navbar a:hover{
 background-color: rgb(135, 232, 135);
 color: black;
}

/*Social column css */
.social1{
 padding-top: 1%;
 padding-left: 2%;
 float: left;
 width: 100%;
 background-color: white;
}

.social1 h3{
 background-color: aliceblue;
 padding-top: 4px;
 text-align: center;
}

#social {
 width: 100%;
 border-radius: 4%;
 background-color:burlywood;
}

#social ul{
 display: block;
 height: max-content;
 background-color:burlywood;
 padding-left: 20%;
 padding-right: 20%;
}

#social li{
 text-align: center;
 font-size: 1.25rem;
}

#social img{
 width: 100%;
 height: auto;
}

/*Event column css*/

.setup{
 display: inline;
 width: 65%;
}

.setup h3{
 text-align: center;
}

.borders{
 width: 100%;
 height: 150px;
 padding: 2px;
 display: inline-block;
 background-color: burlywood;
 border-radius: 4px;
 margin-top: 7px;
 margin-bottom: 6px;
}

.borders a{
 color: black;
 text-decoration: none;
 font-size: 1.333rem;
 margin-bottom: 1px;
}

.borders:hover{
 background-color: cadetblue;
}

.border2{
 display: block;
 padding: 4px;
 text-align: center;
}

/*Adding media queries*/
@media screen and (min-width:510px) {
h1{
 font-size: 2.369rem;
}

.social1{
 width: 20%;
 height: 100vh;
 float: left;
}

#social {
 margin: 0 auto;
 width: 100%;
}

.borders{
 width: 20%;
}

.borders a{
 font-size: 1rem;
}

}

@media screen and (min-width:840px) {
 h1{
  font-size: 4.209rem;
 }

 .social1{
  width: 20%;
  float: left;
  height: 100vh;
 }
 
 .borders{
  width: 20%;
 }

 .borders a{
  font-size: 1.5rem;
 }

}
