#bar ul {
 display: inline-block;
 list-style-type: none;
 width: 100%;
}

#bar li{
 float: left;
 width: 25%;
 text-align: center;
 font-size: 1.25rem;
 background-color: rgb(8, 179, 226);
}

#bar a{
 text-decoration: none;
 color: white;
}

#bar li:hover{
 background-color: rgb(3, 3, 86);
}

h1 {
 font-size: 3.052rem;
}