#bar ul {
 display: inline-block;
 list-style-type: none;
 background-color: rgb(19, 206, 19);
 width: 100%;
}

#bar li{
 float: left;
 width: 25%;
 text-align: center;
 font-size: 2rem;
}

h1 {
 font-size: 3.052rem;
}